<h1>ユーザー編集ページ</h1>

<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
<p>ユーザー名</p>
<input name="name" value="<%= @user.name %>">
<p>メールアドレス</p>
<input name="email" value="<%= @user.email %>">
<p>ゲームタイトル</p>
<textarea rows="10" cols="30" name="product" value="<%= @user.product %>">ここに記入してください</textarea>
<p>ゲームモード</p>
<textarea rows="10" cols="30" name="game_mode" value="<%= @user.game_mode %>">ここに記入してください</textarea>
<p>自己紹介</p>
<textarea rows="10" cols="50" name="introduce" value="<%= @user.introduce %>">ここに記入してください</textarea>
<p>プロフィール画像</p>
<input name="image" type="file">
<input type="submit" value="保存">
<% end %>

