<body class="body-container">
  <% if @error_message %>
    <%= @error_message %>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="text-center">LOGIN</h1>
        <%= form_tag("/login") do %>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
          <input type="text" class="form-control" name="email" placeholder="username" value="<%= @email %>">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
          <input type="password" class="form-control" name="password" placeholder="password" value="<%= @password %>">
        </div>
        
        <!--make a row-->
        <div class="row">
          <div class="col-md-6">
            <input type="checkbox"> <small>Remember me</small>
          </div>
          <div class="col-md-6">
            <a href="https://231cffa1e9ae4866b94635b52532f22d.vfs.cloud9.ap-northeast-1.amazonaws.com/users/new">
              <p class="text-right">Create an account</p></a>
          </div>
        </div>

        <input type="submit" class="btn btn-danger btn-lg btn-block mt-3" value="Login" >
        <% end %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>


<!--<% if @error_message %>-->
<!-- <%= @error_message %>-->
<!--<% end %>-->



