<h1>投稿詳細画面</h1>

<img src = "<%= "user/images/#{@user.image_name}" %>">
<!--ユーザーのトプ画表示-->
<%= link_to(@user.name, "/users/#{@user.id}") %>
<!--ユーザー詳細ページへのリンク-->

<%= @post.content %>
<%= @post.created_at %>


<% if @post.user_id ==  @current_user.id %>
  <%= link_to("編集", "/posts/#{@post.id}/edit") %>
  <%= link_to("削除", "/posts/#{@post.id}/destroy", {method:"post"}) %>
  
  
  <%= link_to "編集", "edit_posts_path(:id)" %>
  
<% end %>
<!--他のユーザーの投稿を編集、削除できないようにする-->



<h2>コメント一覧</h2>
  
  <% @comments.each do |comment| %>
  
    <% unless comment.user.blank? %>
      <%= link_to(comment.user.name, "/users/#{comment.user.id}") %>
    <% end %>
    <%= comment.user.name unless comment.user.blank? %>
      <br />
    <%= comment.content %>
    <% if comment.user_id ==  @current_user.id %>
      <%= link_to("編集", "/comments/#{comment.id}/edit") %>
      <%= link_to("削除", "/comments/#{comment.id}/destroy", {method:"comment"}) %>
    <% end %>
  <% end %>




<h3>コメント入力フォーム</h3>
  <%= form_with(model: @comment, local: true) do |f| %>
  <%= f.hidden_field "post_id", value: @post.id %>
  
    <%= f.text_area :content, class: "form-control", rows: 3 %>
    <%= button_tag type: "submit", class: "btn btn-danger float-right mt-1" do %>
      <i class="far fa-comments"></i> コメントする
    <% end %>
  <% end %>
 
</div>